* {
    margin: 0;
    padding: 0;
    font-family: 'Chelsea Market', cursive;
}

body {
    background-image: url(../images/summer-5350229_1920.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#main-header {
    text-align: center;
    padding: 1rem;
    font-size: 300%;
}

/* The Game Rules Modal (content hidden by default) */
.rules-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1rem;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: rgb(110, 223, 223);
    border-radius: 25px;
    border-color: #fff;
    border-style: solid;
  }








#rock {
    background-image: url(../images/rock-paper-scissors-296854.svg);
    }

#paper {
background-image: url(../images/rock-paper-scissors-296855.svg);
}

#scissors {
    background-image: url(../images/rock-paper-scissors-296853.svg);
    
}

button {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border-color: rgb(255, 165, 0);
    font-size: 150%;
    background-color: rgba(0, 0, 255, 0.884);
    color: #fff;
}

.game-controls {
    padding: 1rem;
    position: relative;
    text-align: center;
}

.rules {
    height: 50px;
    width: 300px;
    margin-bottom: 1rem;
}



#game-status {
    text-align: center;
    position: relative;
    padding: 0 2rem;
}

#current-game-container {
    padding: 0 2rem;
    text-align: center;
}


#current-game-display {
    font-size: 120%;  
}

#counter-container {
    text-align: center;
    padding: 2rem;
    font-family: 'Chelsea Market', cursive;
    
}

.header {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 200%;
}

#counter-display {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 120%;
    text-align: center;
}

.counter-name, .counter-score {
    border: 2px solid rgb(7, 7, 117);
    padding: 1rem;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8)
}

.counter-score {
    font-size: 200%;
}
.clear {
    clear: both;
}

/* winners modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: rgb(110, 223, 223);
    border-color: #fff;
    border-style: solid;
    border-radius: 25px;
  }

.winner-modal {
    position: relative;
    text-align: center;
}

.modal-header {
padding: 2rem;
font-size: 200%;
}

.modal-content {
margin-bottom: 2rem;
text-align: center;
padding: 1rem; 
font-size: 200%;
}

.modal-image {
    padding-bottom: 1rem;
}



