* {
    margin: 0;
    padding: 0;
    font-family: 'Chelsea Market', cursive;
}

body {
    background-image: url(../images/summer-5350229_1920.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#main-header {
    text-align: center;
    padding: 3rem;
    font-size: 300%;
}

#rock {
    background-image: url(../images/rock-paper-scissors-296854.svg);
    }

#paper {
background-image: url(../images/rock-paper-scissors-296855.svg);
}

#scissors {
    background-image: url(../images/rock-paper-scissors-296853.svg);
    
}

button {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border-color: orange;
}

#three-buttons {
    padding: 2rem;
    position: relative;
    text-align: center;
}

#current-game-display {
    text-align: center;
    font-size: 150%;
}